# Ambiente Virtual
venv/
.venv/
env/
.env/
# Claude
.claude/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

#Streamlit
.streamlit/secrets.toml